body{
    overflow-x: hidden;
}

.create-event{
    padding-left: 30px;
    padding-top: 30px;
}

mat-form-field{
    width: 70%;
}

mat-card{
    // width: 50%; 
    margin: 0 auto; 
    margin-bottom: 10px; 
    margin-top: 20px;
}

.eventData{
    margin-top: 5px;
}

