body{
    overflow-x: hidden;
}

.create-event{
    padding-left: 30px;
    padding-top: 30px;
}

mat-form-field{
    width: 70%;
}

mat-card{
    // width: 50%; 
    margin: 0 auto; 
    margin-bottom: 10px; 
    margin-top: 20px;
}

.eventData{
    margin-top: 5px;
}

::ng-deep ngx-material-timepicker-content{
    --body-background-color: #fff;
    --primary-font-family: 'Roboto',sans-serif;
    --button-color: slateblue !important;
    --dial-active-color: #fff;
    --dial-inactive-color: rgba(255, 255, 255, .5);
    --dial-background-color: slateblue !important;
    --dial-editable-active-color: slateblue !important;
    --dial-editable-background-color: #fff;
    --clock-face-time-active-color: #fff;
    --clock-face-time-inactive-color: #6c6c6c;
    --clock-face-inner-time-inactive-color: #929292;
    --clock-face-time-disabled-color: #c5c5c5;
    --clock-face-background-color: #f0f0f0;
    --clock-hand-color: slateblue !important;
  }


