<mat-card *ngFor="let e of eventsFromDb">
    <mat-title style="color: indigo; font-size: 20px;" >
      {{e.Title}}
      <div *ngIf="e.CreatedById==currUserId" style="float: right; color: black;">
        <button mat-icon-button style="outline: none; border: none;" (click)="editEvent(e)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button style="outline: none; border: none;" (click)="deleteEvent(e)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-title>
    <mat-card-content>
      <div class="eventData"><i>Description: </i>{{e.Desc}}</div>
      <div class="eventData"><i>Venue: </i>{{e.Venue}}</div>
      <div class="eventData"><i>Date: </i>{{e.Date.toDate() | date}}</div>
      <hr *ngIf="e.CreatedById==currUserId">
      <div class="eventData" style="color: grey; font-size: 12px;"><i>Created By: </i>{{e.CreatedBy}}</div>
      <div class="eventData" style="color: grey; font-size: 12px; margin-top: -1px;" *ngIf="e.CreatedById==currUserId"><i>Attending: </i>{{e.Yes.length}}</div>
      <div class="eventData" style="color: grey; font-size: 12px; margin-top: -1px;" *ngIf="e.CreatedById==currUserId"><i>Not Attending: </i>{{e.No.length}}</div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button style="outline: none; border: none; cursor: default; background-color: transparent; margin-right: 10px;" >Attending?</button>
      <button mat-icon-button style="border: none; outline: none;"
      [style.background-color]="eventsAttending.includes(e.id) ? 'green' : 'transparent'" 
      [style.color] = "eventsAttending.includes(e.id) ? 'white' : 'green'" 
      (click)="yesBtnClicked(e)">
          <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button style="border: none; outline: none;"
      [style.background-color]="eventsNotAttending.includes(e.id) ? 'red' : 'transparent'" 
      [style.color] = "eventsNotAttending.includes(e.id)? 'white' : 'red'" 
      (click)="noBtnClicked(e)">
        <mat-icon>clear</mat-icon>
      </button>
  </mat-card-actions>
  </mat-card>